{% extends 'web/autoridades.html' %}
{% block name %}<title>Básquet-Fixture y posiciones | Club Atlético Rivadavia</title> {% endblock %}
{% load static %}
<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/basquet-fixture.png">
    {% endblock %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <br>
              <div class="tab fluid-container">
                <button class="tablinks-fixpos-bas" onclick="showTable_bas(event, 'Fixture')" id="defaultOpen">Fixture LDN 2018</button>
                <button class="tablinks-fixpos-bas" onclick="showTable_bas(event, 'Posiciones')">Posiciones LDN 2018</button>      
                <button class="tablinks-fixpos-bas" onclick="showTable_bas(event, 'Fixture2')">Fixture ABTL 2018</button>
                <button class="tablinks-fixpos-bas" onclick="showTable_bas(event, 'Posiciones2')">Posiciones ABTL 2018</button>
              </div>
              <div id="Fixture" class="tabcontent">
                <br>
                <img class="img-fluid" src="../../static/web/imgs/fixture-1.jpeg" alt="fixture_basquet">
                <img class="img-fluid" src="../../static/web/imgs/fixture-2.jpeg" alt="fixture_basquet">
              </div>
              <div id="Posiciones" class="tabcontent">
                <br>
                <img class="img-fluid" src="../../static/web/imgs/posiciones.jpeg" alt="fixture_basquet">
              </div>
              <div id="Fixture2" class="tabcontent">
                <br>
                <!-- <img class="img-fluid" src="../../static/web/imgs/posiciones.jpeg" alt="fixture_basquet"> -->
              </div>
              <div id="Posiciones2" class="tabcontent">
                <br>
                <!-- <img class="img-fluid" src="../../static/web/imgs/posiciones.jpeg" alt="fixture_basquet"> -->
              </div>
            </div>
    </div>
    {% endblock %}
</div>
{% block js %}
  {{ block.super }}
  <script src="{% static 'web/js/tabs.js' %}"></script>
{% endblock %}