{% extends 'web/autoridades.html' %}
{% block name %}<title>Gurises|Club Atlético Rivadavia</title> {% endblock %}
<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/gurises.png">
    {% endblock %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <br>
              <h5>Historia</h5><br>
              <p>En el año 2003, "Titi" Chiattellino y su equipo de trabajo, idearon el proyecto del Torneo
                Nacional de Fútbol Infantil "Los Gurises", apadrinado por el hijo pródigo del club, Oscar Ustari.
                En la última edición (la número 14), participaron más de 50 equipos, repartidos entre las subsedes de 
                Tres Lomas, General Villegas, Ameghino, Tres Algarrobos y América, donde se juega la fase final.
                El torneo se realiza en el mes de diciembre, y dura aproximadamente una semana, en donde compiten
                los mejores equipos de cada subsede, conformados por niños entre 8 y 11 años.
              </p><br>
            </div>
    </div>
    {% endblock %}
</div>