{% extends 'web/autoridades.html' %}
{% block name %}<title>Fútbol-Novedades | Club Atlético Rivadavia</title> {% endblock %}
{% load static %}
{% block js %} 
  <script src="{% static 'web/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'web/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'web/js/infinite.min.js' %}"></script>
  {{ block.super }}
  <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
  </script>
{% endblock %}

<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/futbol-novedades.png">
    {% endblock %}
    <div class="jumbotron jumbotron-fluid">
            <div class="infinite-container">
              <br>
              {% for articulo in articulos %}
              <div class="infinite-item">
                  <a href="{% url 'detail' slug=articulo.slug %}">
                    <div id="reciente-fut">
                    <img class="thumbnail" src="{{articulo.url_foto}}" alt="{{articulo.titulo}}"> 
                    <div id="solo-texto">
                      <b><h4 id="titulo-novedad">{{articulo.titulo}}</h4></b>
                      <p id="cuerpo-novedad"><span id="fecha">{{articulo.fecha_hora}}</span><br>{{articulo.cuerpo|safe|truncatechars:140}}</p>
                    </div>
                    </div>  
                  </a>
              </div>
              {% endfor %}
            </div>
            {% if articulos.has_next %}
            <a class="infinite-more-link" href="?page={{ articulos.next_page_number }}">Ver más</a>
          {% endif %}
          <div class="loading" style="display: none;">
            Cargando...
          </div>
    </div>
    {% endblock %}
</div>
