{% extends 'web/fix-pos-basquet.html' %}
{% block name %}<title>Hockey-Plantel y CT | Club Atlético Rivadavia</title> {% endblock %}
<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/hockey.png">
    {% endblock %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <br>
              <div class="tab fluid-container">
                <button class="tablinks-bas" onclick="showTable_bas(event, 'Plantel Primera')" id="defaultOpen">Plantel Primera</button>
                <button class="tablinks-bas" onclick="showTable_bas(event, 'Plantel Sub15')">Plantel Sexta</button>
                <button class="tablinks-bas" onclick="showTable_bas(event, 'Plantel Sub18')">Plantel Séptima</button>
                
              </div>
              <div id="Plantel Primera" class="tabcontent">
                  <h4 id="titulo-bloque">Jugadoras</h4>
                  <ul>
                      <li>De La Torre, Luján</li>
                      <li>De La Torre, Yésica</li>
                      <li>González, Daniela</li>
                      <li>Larena, Marisol</li>
                      <li>Martín, Guillermina</li>
                      <li>Patek, Stella Maris</li>
                      <li>Ustaris, Valeria</li>
                      <li>Aguirre, Martina</li>
                      <li>Florentin, Malena</li>
                      <li>Ibarra, Karen</li>
                      <li>Torrilla, Luz</li>
                      <li>Hernández, Lucía</li>
                      <li>Guenchuales, Agustina</li>
                      <li>Mantovani, Fiorella</li>
                      <li>Méndez, Karen</li>
                      <li>Velazco, Agustina</li>
                      <li>Parra, María Ester</li>
                  </ul>
                  <h4 id="titulo-bloque">Cuerpo técnico</h4>
                  <ul>
                      <li>Director técnico: Gorriz, Matías</li>
                  </ul>
              </div>
              <div id="Plantel Sub15" class="tabcontent">
                <h4 id="titulo-bloque">Jugadoras</h4>
                <ul>
                    <li>Ibarra, Melisa</li>
                    <li>Gardón, Lucrecia</li>
                    <li>Giménez, Ayelén</li>
                    <li>Milla Díaz, Agostina</li>
                    <li>Ruiz Portugal, Josefina</li>
                    <li>Sánchez, Paula</li>
                    <li>Vicens, Sofía</li>
                    <li>Vázquez, Briana</li>
                    <li>Zain, Naiara</li>
                    <li>Urrutia, Aldana</li>
                    <li>Herzel, Julia</li>
                    <li>Rodríguez, Alina</li>
                    <li>Ameijeiras, Mariana</li>
                    <li>Ubalde, Clara</li>
                    <li>Ameijeiras, Juanita</li>
                </ul>
                <h4 id="titulo-bloque">Cuerpo técnico</h4>
                <ul>
                    <li>Director técnico: Gorriz, Matías</li>
                </ul>
              </div>

              <div id="Plantel Sub18" class="tabcontent">
                <h4 id="titulo-bloque">Jugadoras</h4>
                <ul>
                    <li>Ameijeiras, Juanita</li>
                    <li>Ameijeiras, Mariana</li>
                    <li>Nicoletti, Lucía</li>
                    <li>Ameijeiras, Julieta</li>
                    <li>Ubalde, Clara</li>
                    <li>Moreno, Florencia</li>
                    <li>Funk, Renata</li>
                    <li>Álvarez, Morena</li>
                    <li>Montero, Lola</li>
                    <li>Fernández, Dolores</li>
                    <li>Sosa, Valentina</li>
                    <li>Lucero, Mía</li>
                    <li>Carrillo, Lourdes</li>
                    <li>Aguirre, Delfina</li>
                    <li>Ameijeiras, Amparo</li>
                </ul>
                <h4 id="titulo-bloque">Cuerpo técnico</h4>
                <ul>
                    <li>Director técnico: Gorriz, Matías</li>
                </ul>
              </div>
              
            </div>
    </div>
      
    {% endblock %}
</div>