{% extends 'web/autoridades.html' %}
{% block name %}<title>Fútbol-Plantel y CT|Club Atlético Rivadavia</title> {% endblock %}
<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/futbol.png">
    {% endblock %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <br>
              <h4 id="titulo-bloque">Arqueros</h4>
                <ul>
                  <li>Hillcoat, José</li>
                  <li>Basualdo, Francisco</li>
                  <li>Álvarez, Mateo</li>
                </ul>
              <h4 id="titulo-bloque">Defensores</h4>
                <ul>
                  <li>Palacio, Agustín</li>
                  <li>Giménez, Cristian</li>
                  <li>Molina, Miguel</li>
                  <li>Rodríguez, Guillermo</li>
                  <li>Iglesias, Manuel</li>
                  <li>Ruiz, Manuel</li>
                  <li>Barrera, Gonzalo</li>
                  <li>Sánchez, Juan</li>
                  <li>Rubio, Germán</li>
                  <li>Spósito, Nicolás</li>
                  <li>Gómez, Juan</li>
                  <li>Reale, Román</li>
                  <li>Sánchez, Mauricio</li>
                </ul>
              <h4 id="titulo-bloque">Mediocampistas</h4>
                <ul>
                  <li>Barrera, Nicolás</li>
                  <li>Díaz, Germán</li>
                  <li>Fernández, Lucas</li>
                  <li>Cortéz, Lucas</li>
                  <li>Martín, Javier</li>
                  <li>Álvarez, Tomás</li>
                  <li>Rasilla, Martín</li>
                  <li>Burgos, Martín</li>
                  <li>Herrera, Alexis</li>
                  <li>Herrera, Lautaro</li>
                  <li>Pérez, Agustín</li>
                  <li>Fernández, Martín</li>
                  <li>Figueroa, Enzo</li>
                </ul>
              <h4 id="titulo-bloque">Delanteros</h4>
                <ul>
                  <li>Martín, Jorge Pablo</li>
                  <li>Luengo, Luciano</li>
                  <li>Fadini, Javier</li>
                  <li>Piorno, Juan</li>
                  <li>Lazarte, Michelle</li>
                  <li>Biggi, Ángel</li>
                </ul>
              <h4 id="titulo-bloque">Cuerpo técnico</h4>
                <ul>
                  <li>Director técnico: Elena, Carlos Javier</li>
                  <li>Ayudante de campo: Schneider, Juan</li>
                  <li>Ayudante de campo: Craig, Daniel</li>
                  <li>Ayudante de campo: Sardi, Esteban</li>
                  <li>Preparador físico: Acosta, Maximiliano</li>
                </ul>
            </div>
    </div>
    {% endblock %}
</div>