{% extends 'web/autoridades.html' %}
{% block name %}<title>Fútbol-Plantel y CT|Club Atlético Rivadavia</title> {% endblock %}
<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/futbol.png">
    {% endblock %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <br>
              <h4 id="titulo-bloque">Arqueros</h4>
                <ul>
                  <li>Hillcoat, José</li>
                  <li>Palacios, Juan Ramón</li>
                  <li>Ares, Juan</li>
                </ul>
              <h4 id="titulo-bloque">Defensores</h4>
                <ul>
                  <li>Palacio, Agustín</li>
                  <li>Giménez, Cristian</li>
                  <li>Molina, Miguel</li>
                  <li>Fuensalida, Marcos</li>
                  <li>Iglesias, Manuel</li>
                  <li>Ruiz, Manuel</li>
                  <li>Sánchez, Juan</li>
                  <li>Rubio, Germán</li>
                </ul>
              <h4 id="titulo-bloque">Mediocampistas</h4>
                <ul>
                  <li>Barrera, Gonzalo</li>
                  <li>Barrera, Nicolás</li>
                  <li>Díaz, Germán</li>
                  <li>Luengo, Luciano</li>
                  <li>Giménez, Franco</li>
                  <li>Vicente, Franco</li>
                  <li>Álvarez, Tomás</li>
                </ul>
              <h4 id="titulo-bloque">Delanteros</h4>
                <ul>
                  <li>Martín, Jorge Pablo</li>
                  <li>Greco, Matías</li>
                  <li>Piorno, Juan</li>
                  <li>Lazarte, Michelle</li>
                  <li>Navarro, Carlos</li>
                </ul>
              <h4 id="titulo-bloque">Cuerpo técnico</h4>
                <ul>
                  <li>Director técnico: Elena, Javier</li>
                  <li>Preparador físico: Maisterra, Oscar</li>
                </ul>
            </div>
    </div>
    {% endblock %}
</div>