{% extends 'web/fix-pos-basquet.html' %}
{% block name %}<title>Básquet-Plantel y CT | Club Atlético Rivadavia</title> {% endblock %}
<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/basquet1.png">
    {% endblock %}
    
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <br>
              <div class="tab fluid-container">
                <button class="tablinks-bas" onclick="showTable_bas(event, 'Plantel U13')" id="defaultOpen">Plantel U13</button>
                <button class="tablinks-bas" onclick="showTable_bas(event, 'Plantel U15')">Plantel U15</button>
                <button class="tablinks-bas" onclick="showTable_bas(event, 'Plantel U17')">Plantel U17</button>
                
              </div>
              <div id="Plantel U13" class="tabcontent">
                <h4 id="titulo-bloque">Jugadores</h4>
                <p>En construccion</p>
              </div>

              <div id="Plantel U15" class="tabcontent">
                <h4 id="titulo-bloque">Jugadores</h4>
                <p>En construccion</p>
                </div>

                <div id="Plantel U17" class="tabcontent">
                  <h4 id="titulo-bloque">Jugadores</h4>
                  <p>En construccion</p>
                </div>
              
            </div>
    </div>
      
    {% endblock %}
</div>