{% extends 'web/autoridades.html' %}
{% block name %}<title>Senior-Plantel y CT | Club Atlético Rivadavia</title> {% endblock %}
<div id="content">
    {% block content%}
    {% block imagen%}
    <img class="img-fluid" src="../../static/web/imgs/senior-plantel.jpg">
    {% endblock %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <br>
              <h4 id="titulo-bloque">Jugadores</h4>
                <ul>
                  <li>Pessaq, Angel Daniel</li>
                  <li>Ruiz, Manuel Eduardo</li>
                  <li>Goicochea, Sergio</li>
                  <li>Craig, Daniel Ernesto</li>
                  <li>Caratti, Mauro Germán</li>
                  <li>Mansilla, Jorge Luis</li>
                  <li>Agudo, Guillermo</li>
                  <li>Pérez, Jorge</li>
                  <li>Broto, Walter</li>
                  <li>De Lucca, Francisco</li>
                  <li>Ortiz, Luis Alberto</li>
                  <li>Gómez, Alcides</li>
                  <li>Sanz, Sergio Adrián</li>
                  <li>Salazar, Germán Eduardo</li>
                  <li>Ferreira, Jorge Alberto</li>
                  <li>Crespo, Lisandro Mariano</li>
                  <li>Hernández, Carlos Alberto</li>
                  <li>Rupp, Matías</li>
                  <li>Rupp, Mario</li>
                  <li>Rapallini, Mario Gustavo</li>
                  <li>Bruvera, Aldo Christian</li>
                  <li>Vaquero, Ricardo Ceferino</li>
                  <li>Reyes, Rolando Heraldo</li>
                  <li>Acuña, Raúl Alberto</li>
                  <li>Pérez, Martín Alberto</li>
                  <li>Lorences, Jose David</li>
                  <li>Gatti, Diego Horacio</li>
                  <li>Santos, Hernán</li>
                  <li>Sardi, Esteban Carlos</li>
                  <li>Luna, Carlos</li>
                  <li>Gatti, Martín</li>
                  <li>Figal, Jorge Luis</li>
                  <li>Signorelli, Raúl</li>
                  <li>Herrera, Carlos Alfredo</li>
                  <li>De Andrea, Luis Fernando</li>
                
                </ul>
              <h4 id="titulo-bloque">Cuerpo técnico</h4>
                <ul>
                  <li>Gazzaniga, Gustavo</li>
                  <li>Hernández, Arturo</li>
                  <li>Schneider, Juan</li>
                </ul>
            </div>
    </div>
    {% endblock %}
</div>